{% extends "base.html" %}
{% block style %}
<style>
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.2em;
    text-align: left;
}
th, td {
    padding: 20px;
    border-bottom: 1px solid #aa1313;
    text-align: center;
}
</style>
{% endblock style %}

{% block title %}
 Classement
{% endblock title %}
{% block content %}
<div class="shadow-wrap">
  <table>
    <tr>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Classement </th>
    </tr>
    {% for joueur in allPlayer %}
      <tr>
        <td>{{ joueur }}</td>
        <td>{{ joueur.score }}</td>
        <td>{{ forloop.counter }}</td>

      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
