{% extends "base.html" %}
{% block style %}
<style>

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
   }
   body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #fff;
   }
</style>
{% endblock style %}
{% block title %}
 Login
{% endblock title %}
{% block content %}
<div class="shadow-wrap">
    {% if allPlayer %}
        <ul>
        {% for joueur in allPlayer %}
            <li> {{ joueur.score }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun joueur !!!</p>
    {% endif %}
</div>
{% endblock content %}a
