.shadow-wrap{
 border-radius: 5px;
 padding: 25px;
 background-color:#F0F2FB;
}
.form-wrap{
 background-color: #fff;
padding: 70px;
}
.form-wrap form *{
 display: block;
 width: 100%;
}
.form-wrap form label{
margin-bottom: 5px;
font-size: 14px;
font-weight: 700;
line-height: 26px; 
}
.form-wrap form input{
padding: 12px 20px;
border-radius: 5px;
border: 1px solid #DAE1F5;
background: #FFF; 
color: #545D7A; 
}
#id_username{
 margin-bottom: 20px;
}
.form-wrap button{
 border-radius: 5px;
background: #10182F;
color: #FFF;
cursor: pointer;
text-align: center;
font-size: 16px;
padding: 12px 68px;
font-weight: 700;
border: 1px solid transparent;
margin-top: 30px;
line-height: 26px; 
}
.signup-link{
 color: #10182F;
 font-size: 15px;
 margin-top: 20px;
 text-align: center;
 line-height: 25px;
 display: block;
text-decoration: none;
}
.signup-link:hover{
 text-decoration: underline;
}
.form-wrap button:hover{
 background-color: #fff;
 color: #10182F;
 border-color: #10182F;

}

/* home css */
.btn_logout {
    padding: .75rem 1.25rem !important;
    margin-bottom: 1rem;
}
#audio_button {
    background-color: transparent;
}
.audio_video_container video {
    width: 100%;
    border-radius: 10px;
}
#audio_button.focus, #audio_button:focus {
    outline: none;
    box-shadow: none;
}


.music {
    width: 100%;
    height: 60px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .music .bar {
    width: 12px;
    height: 10px;
    border-radius: 10px;
    background: white;
    animation: loader 1.5s ease-in-out infinite;
  }
  @keyframes loader {
    0%,
    100% {
      height: 2px;
    }
    50% {
      height: 45px;
    }
  }
  .music .bar:nth-child(1) {
    background: purple;
    animation-delay: 1s;
  }
  .music .bar:nth-child(2) {
    background: crimson;
    animation-delay: 0.8s;
  }
  .music .bar:nth-child(3) {
    background: deeppink;
    animation-delay: 0.6s;
  }
  .music .bar:nth-child(4) {
    background: orange;
    animation-delay: 0.4s;
  }
  .music .bar:nth-child(5) {
    background: gold;
    animation-delay: 0.2s;
  }
  .music .bar:nth-child(6) {
    background: gold;
    animation-delay: 0.2s;
  }
  .music .bar:nth-child(7) {
    background: orange;
    animation-delay: 0.4s;
  }
  .music .bar:nth-child(8) {
    background: deeppink;
    animation-delay: 0.6s;
  }
  .music .bar:nth-child(9) {
    background: crimson;
    animation-delay: 0.8s;
  }
  .music .bar:nth-child(10) {
    background: purple;
    animation-delay: 1s;
  }


/* portes & actions style */
.switch {
    --inactive-bg: #ff0000 !important;
    --active-bg: #00ff4e !important;
    --size: 2rem;
    appearance: none;
    width: calc(var(--size) * 2.2);
    height: var(--size);
    display: inline-block;
    border-radius: calc(var(--size) / 2);
    cursor: pointer;
    background-color: var(--inactive-bg);
    background-image: radial-gradient(
        circle calc(var(--size) / 2.1),
        #fff 100%,
        #0000 0
      ),
      radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(var(--size) / -1.75) 0;
    transition: background 0.2s ease-out;
  }
  .switch:checked {
    background-color: var(--active-bg);
    background-position: calc(var(--size) / 1.75) 0;
  }
  



/* tabs */
.nav.nav-tabs li {
  padding: 10px;
  background-color: #e2e3e5;
}
.nav.nav-tabs li a {
  color: black;
  text-decoration: none;
}
.nav.nav-tabs li:first-child {
  border-top-left-radius: 10px;
}
.nav.nav-tabs li:last-child {
  border-top-right-radius: 10px;
}
.nav.nav-tabs li.active {
  background-color: #cce5ff;
}


/* video */

.video_container {
  position: relative;
}
.video_container  video {
  width: 100%;
  height: 440px;
  background-color: gray;
}
.video_btns_container {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0;
  margin: 0 !important;
  width: 100%;
}
/* Stylise le corps du document avec une hauteur minimale, une hauteur de 100% de la fenêtre d'affichage, sans marges et avec un dégradé radial comme arrière-plan. */
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;  
}