/* Stylise le corps du document avec une hauteur minimale, une hauteur de 100% de la fenêtre d'affichage, sans marges et avec un dégradé radial comme arrière-plan. */
body {
    min-height: 450px;
    height: 100vh;
    margin: 0;  
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;  
  }
.add-icon, .remove-icon { 
    cursor: pointer; color: blue; margin-left: 10px; 
    }
.remove-icon { 
    color: red; 
}
.question_container, .choices_container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at center top, #f2606f 0%, #d20b1f 100%);
    }
.btn-success, .btn-danger {
     color: white; 
    }
input {
    margin-left: 10px;
}
